// Custom styles.

p.image-caption {
    text-align: -webkit-center;
    color: #696969;
}

.img-allow-text-wrap {
    float: left; 
    margin: 5px 20px 10px 0px;
}

blockquote {
    padding: 0 10px 0 15px;
    color: #666;
    border-left: 4px solid #ddd;
    font-family: sans serif;
    font-size: 14px;
}

.post-body .image-caption, %caption {
  margin: 10px auto 15px;
  text-align: center;
  font-size: $font-size-small;
  color: $grey-dim;
  font-weight: normal;
  line-height: 1;
}
