// Custom styles.

.img-allow-text-wrap {
    float: left; 
    margin: 5px 20px 10px 0px;
}

blockquote {
    padding: 0 10px 0 15px;
    color: #666;
    border-left: 4px solid #ddd;
    font-family: sans serif;
    font-size: 14px;
}

.post-body .image-caption, %caption {
  margin: 10px auto 15px;
  text-align: center;
  font-size: $font-size-small;
  color: $grey-dim;
  font-weight: normal;
  line-height: 1;
}

.timeline-Header {
    padding: 10px;
    display: none;
}

// CSS for contact form

form input, form textarea {
    margin-bottom: 1em;
}

input, textarea {
    font-size: 0.8em;
    font-family: 'proxima-nova-soft', sans-serif;
    border: 1px solid #ddd;
    background: #fff;
    padding: 0.9em;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

button, input {
    line-height: normal;
}

#formview textarea {
    height: 10.3em;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

button, a.button {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid #359173;
    color: #359173;
    background: transparent;
    line-height: 1em;
    padding: 0.6em 0.9em;
    transition: all 0.3s ease-in-out;
}

.share-buttons-block {
    margin-top: 20px;
}
