// Custom styles.

p.image-caption {
    text-align: -webkit-center;
    color: #696969;
}

.img-allow-text-wrap {
    float: left; 
    margin: 5px 20px 10px 0px;
}

blockquote {
    padding: 0 10px 0 15px;
    color: #666;
    border-left: 4px solid #ddd;
    font-family: sans serif;
    font-size: 14px;
}
